/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Fallback Arial Heading";
  ascent-override:94%;size-adjust:104%;src: local(Arial);
}

@font-face {
  font-family: "Fallback Arial Body";
  ascent-override:89%;size-adjust:106%;src: local(Arial);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://a.loveholidays.com/design-system/font-99b3f69e743a697220c2.woff2) format('woff2');
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://a.loveholidays.com/design-system/font-99b3f69e743a697220c2.woff2) format('woff2');
}

@font-face {
  font-family: "National 2";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://a.loveholidays.com/design-system/font-2bc714ec09f0b72caeef.woff2) format('woff2');
}

@font-face {
  font-family: "National 2";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://a.loveholidays.com/design-system/font-2bc714ec09f0b72caeef.woff2) format('woff2');
}

@font-face {
  font-family: "National 2";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://a.loveholidays.com/design-system/font-acd4996d8f05317f846b.woff2) format('woff2');
  unicode-range: U+00C8,U+03BF,U+015F,U+012B,U+017E,U+0308,U+00EF,U+00F8,U+00E1,U+00CC,U+0163,U+00C5,U+015B,U+00FD,U+00E6,U+014F,U+00D6,U+014D,U+00DF,U+00DE,U+00DC,U+0101,U+00BA,U+00F4,U+00E9,U+0103,U+017B,U+03BD,U+00C6,U+00D3,U+00F5,U+0120,U+0119,U+011F,U+0142,U+00F6,U+00C0,U+00FA,U+00E5,U+00FC,U+021B,U+017D,U+00ED,U+00EE,U+00EA,U+00F0,U+00E7,U+0161,U+00E0,U+00CE,U+0121,U+1E17,U+0127,U+00E4,U+016B,U+00F1,U+0151,U+0126,U+00F9,U+0153,U+03AF,U+03C8,U+010A,U+00BF,U+00FB,U+00EC,U+0160,U+0107,U+0219,U+00C1,U+010D,U+00FE,U+00E3,U+00E2,U+00F2,U+00C7,U+017C,U+00F3,U+00EB,U+00D8,U+00C9,U+00CD,U+00E8,U+1EA3;
}

@font-face {
  font-family: "National 2";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://a.loveholidays.com/design-system/font-acd4996d8f05317f846b.woff2) format('woff2');
  unicode-range: U+00C8,U+03BF,U+015F,U+012B,U+017E,U+0308,U+00EF,U+00F8,U+00E1,U+00CC,U+0163,U+00C5,U+015B,U+00FD,U+00E6,U+014F,U+00D6,U+014D,U+00DF,U+00DE,U+00DC,U+0101,U+00BA,U+00F4,U+00E9,U+0103,U+017B,U+03BD,U+00C6,U+00D3,U+00F5,U+0120,U+0119,U+011F,U+0142,U+00F6,U+00C0,U+00FA,U+00E5,U+00FC,U+021B,U+017D,U+00ED,U+00EE,U+00EA,U+00F0,U+00E7,U+0161,U+00E0,U+00CE,U+0121,U+1E17,U+0127,U+00E4,U+016B,U+00F1,U+0151,U+0126,U+00F9,U+0153,U+03AF,U+03C8,U+010A,U+00BF,U+00FB,U+00EC,U+0160,U+0107,U+0219,U+00C1,U+010D,U+00FE,U+00E3,U+00E2,U+00F2,U+00C7,U+017C,U+00F3,U+00EB,U+00D8,U+00C9,U+00CD,U+00E8,U+1EA3;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://a.loveholidays.com/design-system/font-178e857734a8cacf1114.woff2) format('woff2');
  unicode-range: U+00C8,U+03BF,U+015F,U+012B,U+017E,U+0308,U+00EF,U+00F8,U+00E1,U+00CC,U+0163,U+00C5,U+015B,U+00FD,U+00E6,U+014F,U+00D6,U+014D,U+00DF,U+00DE,U+00DC,U+0101,U+00BA,U+00F4,U+00E9,U+0103,U+017B,U+03BD,U+00C6,U+00D3,U+00F5,U+0120,U+0119,U+011F,U+0142,U+00F6,U+00C0,U+00FA,U+00E5,U+00FC,U+021B,U+017D,U+00ED,U+00EE,U+00EA,U+00F0,U+00E7,U+0161,U+00E0,U+00CE,U+0121,U+1E17,U+0127,U+00E4,U+016B,U+00F1,U+0151,U+0126,U+00F9,U+0153,U+03AF,U+03C8,U+010A,U+00BF,U+00FB,U+00EC,U+0160,U+0107,U+0219,U+00C1,U+010D,U+00FE,U+00E3,U+00E2,U+00F2,U+00C7,U+017C,U+00F3,U+00EB,U+00D8,U+00C9,U+00CD,U+00E8,U+1EA3;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://a.loveholidays.com/design-system/font-178e857734a8cacf1114.woff2) format('woff2');
  unicode-range: U+00C8,U+03BF,U+015F,U+012B,U+017E,U+0308,U+00EF,U+00F8,U+00E1,U+00CC,U+0163,U+00C5,U+015B,U+00FD,U+00E6,U+014F,U+00D6,U+014D,U+00DF,U+00DE,U+00DC,U+0101,U+00BA,U+00F4,U+00E9,U+0103,U+017B,U+03BD,U+00C6,U+00D3,U+00F5,U+0120,U+0119,U+011F,U+0142,U+00F6,U+00C0,U+00FA,U+00E5,U+00FC,U+021B,U+017D,U+00ED,U+00EE,U+00EA,U+00F0,U+00E7,U+0161,U+00E0,U+00CE,U+0121,U+1E17,U+0127,U+00E4,U+016B,U+00F1,U+0151,U+0126,U+00F9,U+0153,U+03AF,U+03C8,U+010A,U+00BF,U+00FB,U+00EC,U+0160,U+0107,U+0219,U+00C1,U+010D,U+00FE,U+00E3,U+00E2,U+00F2,U+00C7,U+017C,U+00F3,U+00EB,U+00D8,U+00C9,U+00CD,U+00E8,U+1EA3;
}

html,body {
  font-family: Inter,"Fallback Arial Body";
  background-color: #ffffff;
  color: #071a26;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "National 2","Fallback Arial Heading";
  font-weight: 400;
  /* color: #071a26; */
}


@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}